.header{
    position: sticky;
    top: 0;
    background: var(--header-color_gradient);
    backdrop-filter: blur(5px) opacity(0.7);
    padding: .75rem 15%;
}

.header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 1rem;
}

.header__logo{
    width: var(--size-6xl);
    cursor: pointer;
}

.header__menu{
    display: none;
}

.header__link:hover{
    color: var(--primary);
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}

.header__burger{
    color: white;
    display: block;
    width: var(--size-2xl);
}

@media (min-width: 768px) {
    .header__menu {
      display: flex;
      align-items: center;
      list-style: none;
      padding: 0;
      gap: 2em;
    }

    .header__link{
        font-size: var(--size-xs);
        font-weight: 600;
        text-transform: uppercase;
        text-decoration: none;
        color: inherit;
    }

    .header__burger{
        display: none;
        width: var(--size-2xl);
        height: var(--size-2xl);
        padding: 1rem;
    }
}

/* lg */
@media (min-width: 1024px) {
    .header__link {
      font-size: var(--size-sm);
    }
}  