.news.container{
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.news__title{
    display: flex;
    text-align: center;
}

.news__list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
  gap: 2rem;
}

.news__card{
  --news--img-ratio: 3/2;

  display: flex;
  width: clamp(20rem, calc(20rem + 2vw), 12rem);
  background-color: var(--accent);
  flex-direction: column;
  gap: 0.5rem;
  box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 1em;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: wrap;
}

.news__card > img{
  border-radius: 10px 10px 0 0;
  aspect-ratio: var(--news--img-ratio);
  box-shadow: 0 1rem 5rem rgba(0, 0, 0, 0.1);
  object-fit: cover;
  width: 100%;
}

.news__more{
  justify-self: flex-end;
  display: inline-flex;
}

.news__body{
  overflow: hidden;
  padding: 0.25rem 1rem;
  display: flex;
  flex-direction: column;
}

.news__date{
  color: var(--text-secondary);
  font-weight: 600;
  margin: .25rem 0;
}

.news__tag.tag{
  background-color: var(--primary);
}

.news__body > p{
  max-height: 4.8rem; /* Set a maximum height for the description element */
  margin-bottom: 0; /* Remove the bottom margin */
  overflow: hidden; /* Hide any content that overflows the maximum height */
  text-overflow: ellipsis; /* Add ellipsis to indicate truncated text */
  display: -webkit-box; /* Use Webkit box to truncate text */
  -webkit-line-clamp: 2; /* Set the number of lines to display */
  -webkit-box-orient: vertical; /* Orient the text vertically */ 
}

.news__footer{
  display: flex;
  padding: 1rem;
  margin-top: auto;
  align-self: flex-end;
  justify-content: flex-end;
}
