:root {
    --elits-color: #ef8700;
    --csso-color: #4fc4ce;
}


.organization-grid {
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    overflow: clip;
    gap: 1rem;
    justify-content: center;
}

.card {
    width: 500px;
    height: auto;
    background: var(--gradient-header-color);
}

.card:hover{
    cursor: wait;
}

.card__img {
    align-self: center;
    margin: 1rem;
    width: 96px;
    height: 96px;
    object-fit: cover;
    border-radius: 50%;
    img {
        width: 100%;
    }
}

.card-content{
    font-family: "Montserrat";
    position: relative;
    align-self: center;
    padding: 1rem;
}

.card-name {
    font-weight: 800;
    font-size: 15px;
    line-height: 1.5em;
    text-transform: uppercase;
}

.card-acronym {
    font-weight: 600;
    color: #f2f2f2;
    opacity: 0.6;
}

.org-links{
    display: flex;
    margin: 1rem 0;
    gap: 1rem;
}