@import url(../css/root.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.css);
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--accent);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--accent-800);
}

/* Selection styles */
::selection {
  background-color: var(--primary-600);
  color: var(--text-secondary);
  border-radius: 0.5rem;
}


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background);
  color: var(--text);
  font-family: "Inter";
  font-weight: 400;
}

a {
  text-decoration: none;
  color: white;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

p {
  padding: 0 0 10px;
}

html {
  font-size: 100%; /* 16px */
}

h1 {font-size: 4.210rem; /* 67.36px */}
h2 {font-size: 3.158rem; /* 50.56px */}
h3 {font-size: 2.369rem; /* 37.92px */}
h4 {font-size: 1.777rem; /* 28.48px */}
h5 {font-size: 1.333rem; /* 21.28px */}
small {font-size: 0.750rem; /* 12px */}



/* Component */
.wrapper {
  width: calc(100% - 5rem);
  max-width: var(--container);
  margin-inline: auto;
}

.container {
  width: 80%;
  padding: 1rem;
  margin: 1rem auto;
}

.header {
  position: sticky;
  top: 0;
  background: var(--header-color_gradient);
}

.header__navbar {
  padding: 1rem;
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  backdrop-filter: blur(5px) opacity(0.7);
}

.site-branding {
  align-self: center;
}

.logo {
  width: 64px;
  cursor: pointer;
}

footer {
  font-family: "Montserrat";
  padding:.75rem 0;
  background: var(--primary-700);
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 2fr;
}

.footer-list-link, a {
  list-style: none;
  padding: 0 0 10px;
}

.footer-menu {
  margin: 1rem;
  display: flex;
  justify-content: center;
  list-style: none;
}

.footer-link {
  padding: 1rem;
  font-weight: 500;
  border-radius: 0.5rem;
}

.footer-link:hover {
  color: var(--primary-600);
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}

.nav-menu {
  display: inline-flex;
  list-style: none;
  gap: 2rem;
}

.nav-link {
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 0.5rem;
  border: 2px transparent;
}

.nav-link:hover {
  border: 10px solid var(--white);
  color: var(--primary-600);
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}

.nav-btn {
  padding: 0.7rem;
  background-color: var(--primary-500);
  border: none;
  border-radius: 1rem;
  text-transform: uppercase;
}

#hero {
  display: flex;
  width: 100%;
  height: 400px;
  background: linear-gradient(var(--semi-transparent),var(--semi-transparent)),url(/assets/DIT.png) no-repeat center /cover;
  .hero{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .hero-text{
    width: 50%;
    text-align: start;
  }
  img.logo{
    user-select: none;
    width: 300px;
  }
}

.hero-cta-container{
  user-select: none;
  padding: 1rem 0;
  .cta-signup-btn{
    padding: .75rem 1rem;
    border-radius: 7px;
    font-weight: 500;
    background-color: var(--primary);
  }
  :hover{
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
    background-color: var(--accent-500);
  }
}

.container.card{
  width: auto;
  padding: 1rem;
  background-color: var(--primary-700);
  background-image: none;
  
}
#awards{
  .card{
    padding: 1rem;
    background-image: none;
  }
  ul{
    list-style-type: none;
  }
}

.objectives{
  list-style: decimal ;
}

.card-list{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 1.3rem;
  background-color: var(--primary);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 15px;
}

.cta-btn{
  user-select: none;
  padding: .75rem 1rem;
  border-radius: 7px;
  font-weight: 500;
  background-color: var(--primary);
}

.cta-btn:hover{
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
  background-color: var(--accent-500);
}


.card{
  display: flex;
  padding: 1rem;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-image: url(/assets/org/elits.svg);
  background-position: right;
  background-repeat: no-repeat;
  background-size: 50%;
  background-color: var(--accent-600);
  border-radius: 15px;
}

.dev{
  width: 500px;
}

/* Member Card */ 
.card-content{
  display: flex;
  flex-direction: column;
}

.title{
  padding: 0 0 20px;
}

.name{
  font-size: 1.25rem;
  font-weight: 800;
}

.description{
  padding: .5rem 0;
  color: var(--text-secondary);
}