.container{
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
}

.btn{
    display: inline-block;
    user-select: none;
    cursor: pointer;
    padding: 0.5em 1em;
    margin: .5rem 0;
    border-radius: 7px;
    font-weight: 600;
    text-decoration: none;
    background-color: var(--primary);
    color: var(--text);
    transition: all 200ms;
  }

.btn:hover{
    color: var(--text-secondary);
    box-shadow: 0 0 20px var(--primary);
}

.title{
    font-size: var(--size-fluid-4);
}

.tag {
  align-self: flex-start;
  padding: .25em .75em;
  border-radius: 1em;
  font-size: .75rem;
}

.smol-flexbox-grid {
  --min: 16ch;
  --gap: 1rem;

  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
}

.smol-flexbox-grid > * {
  flex: 1 1 var(--min);
}

/* */


/* xs */
@media (min-width: 475px) {
    .container {
      max-width: 475px;
    }
  }
  
  /* sm */
  @media (min-width: 640px) {
    .container {
      max-width: 640px;
    }
  }
  
  /* md */
  @media (min-width: 768px) {
    .container {
      max-width: 768px;
    }
  }
  
  /* lg */
  @media (min-width: 1024px) {
    .container {
      max-width: 1024px;
    }
  
    .section {
      margin-top: 10rem;
    }
  }
  
  /* xl */
  @media (min-width: 1280px) {
    .container {
      max-width: 1280px;
    }
  }
  
  /* 2xl */
  @media (min-width: 1536px) {
    .container {
      max-width: 1536px;
    }
  }